@{
  ViewData["Title"] = "Not Authorized User";
}


<section>
  <h2 class="text-danger">Not Authorized User</h2>
  <p>
    You are not authorized to access this page.
  </p>
  <p>
    <a asp-action="Index" asp-controller="LabResult" class="btn btn-primary">Return to Home Page</a>
  </p>
</section>